tr
	td
		strong #{num}
	td
		|Mail.ru
	td
		|Экспорт товаров в систему Mail.ru
		br
		//p.text-center (vendor.model)
	td
		pre.code(lang="html")
			include codes/022.txt
	td
		a.linkpovider(href="http://torg.mail.ru/info/122/" target="_blank")
			|http://torg.mail.ru/info/122/