tr
	td
		strong #{num}
	td
		|Facebook
	td
		|Экспорт в Facebook (fb)
		br
		//p.text-center (CSV)
	td
		pre.code(lang="html")
			include codes/044.txt
	td
		a.linkpovider(href="https://developers.facebook.com/docs/graph-api" target="_blank")
			|https://developers.facebook.com/docs/graph-api