tr
	td
		strong #{num}
	td
		|Nadavi.net
	td
		|Выгрузка на портал Nadavi.net
		br
		//p.text-center (ok)
	td
		pre.code(lang="html")
			include codes/048.txt
	td
		a.linkpovider(href="http://nadavi.net/nadavi.php?idPage_=57&idBookmark_=5" target="_blank")
			|http://nadavi.net/nadavi.php?idPage_=57&idBookmark_=5