tr
	td
		strong #{num}
	td
		|Skybuy.ru
	td
		|Экспорт на портал skybuy.ru
		br
		//p.text-center (ok)
	td
		pre.code(lang="html")
			include codes/047.txt
	td
		a.linkpovider(href="https://skybuy.ru/help/skybuy/s-q22" target="_blank")
			|https://skybuy.ru/help/skybuy/s-q22