tr
	td
		strong #{num}
	td
		|activizm.ru
	td
		|Экспорт в систему activizm.ru
		br
		//p.text-center (vendor.model)
	td
		pre.code(lang="html")
			include codes/025.txt
	td
		a.linkpovider(href="http://www.acrit-studio.ru/technical-support/configuring-the-module-export-on-trade-portals/requirements-of-the-portal-activizm-ru-to-the-export-file/" target="_blank")
			|http://www.acrit-studio.ru/technical-support/configuring-the-module-export-on-trade-portals/requirements-of-the-portal-activizm-ru-to-the-export-file/