tr
	td
		|Wikimart
	td
		|Одежда
		br
		p.text-center (clothes)
	td
		pre.code(lang="html")
			include codes/015.txt
	td
		a.linkpovider(href="http://img.0cw.ru/docs/Wikimart_clothing_footwear_accessories.pdf?7b8f3f" target="_blank")
			|http://img.0cw.ru/docs/Wikimart_clothing_footwear_accessories.pdf?7b8f3f