tr
	td
		strong #{num}
	td
		|Yandex.Market
	td
		|Книги 
		br
		p.text-center (ym_book)
	td
		pre.code(lang="html")
			include codes/003.txt
	td
		a.linkpovider(href="https://yandex.ru/support/partnermarket/export/books.xml" target="_blank") https://yandex.ru/support/partnermarket/export/books.xml