tr
	td
		strong #{num}
	td
		|Prom.ua
	td
		|Выгрузка на портал Prom.ua
		br
		//p.text-center (ok)
	td
		pre.code(lang="html")
			include codes/052.txt
	td
		a.linkpovider(href="http://support.prom.ua/documents/290" target="_blank")
			|http://support.prom.ua/documents/290