tr
	td
		strong #{num}
	td
		|Google
	td
		|Google Merchants
		br
		//p.text-center (ym_dynamic_vendormodel)
	td
		pre.code(lang="html")
			include codes/014.txt
	td
		a.linkpovider(href="https://support.google.com/merchants/?hl=ru#topic=3404818" target="_blank")
			|https://support.google.com/merchants/?hl=ru#topic=3404818