tr
	td
		strong #{num}
	td
		|Ebay
	td
		|Экспорт на Ebay через сервис MP30
		br
		//p.text-center (Цена и количество товаров)
	td
		pre.code(lang="html")
			include codes/035.txt
	td
		a.linkpovider(href="http://pages.ebay.com/ru/ru-ru/kak-prodavat-na-ebay-spravka/mip-neobhodimie-dannie.html" target="_blank")
			|http://pages.ebay.com/ru/ru-ru/kak-prodavat-na-ebay-spravka/mip-neobhodimie-dannie.html