tr
	td
		strong #{num}
	td
		|Technoportal.ua
	td
		|Выгрузка на портал Technoportal.ua
		br
		//p.text-center (ok)
	td
		pre.code(lang="html")
			include codes/050.txt
	td
		a.linkpovider(href="http://technoportal.ua/shops/requirements_info.html" target="_blank")
			|http://technoportal.ua/shops/requirements_info.html