tr
	td
		strong #{num}
	td
		|AVITO.RU
	td
		|Экспорт в систему авито
		br
		p.text-center (Работа)
	td
		pre.code(lang="html")
			include codes/030.txt
	td
		a.linkpovider(href="http://autoload.avito.ru/format/job/" target="_blank")
			|http://autoload.avito.ru/format/job/