tr
	td
		strong #{num}
	td
		|Advantshop.net
	td
		|Выгрузка в решение AdvantShop
		br
		//p.text-center (CSV)
	td
		pre.code(lang="html")
			include codes/041.txt
	td
		a.linkpovider(href="http://www.advantshop.net/help/pages/export-csv-columns?name=csv" target="_blank")
			|http://www.advantshop.net/help/pages/export-csv-columns?name=csv