tr
	td
		strong #{num}
	td
		|Ozon.ru
	td
		|Экспорт на торговую площадку Ozon.ru
		br
		//p.text-center (Цена и количество товаров)
	td
		pre.code(lang="html")
			include codes/037.txt
	td
		a.linkpovider(href="http://merchant-platform.ozon.ru/%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D1%83%D1%80%D0%B0-ozon-xml" target="_blank")
			|http://merchant-platform.ozon.ru/%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D1%83%D1%80%D0%B0-ozon-xml