tr
	td
		strong #{num}
	td
		|Facebook
	td
		|Экспорт в Facebook Business
		br
		p.text-center (fb ads)
	td
		pre.code(lang="html")
			include codes/045.txt
	td
		a.linkpovider(href="https://developers.facebook.com/docs/marketing-api/dynamic-product-ads/product-catalog?locale=ru_RU" target="_blank")
			|https://developers.facebook.com/docs/marketing-api/dynamic-product-ads/product-catalog?locale=ru_RU