tr
	td
		strong #{num}
	td
		|Yandex.Market
	td
		|Косметика, парфюмерия и уход
		br
		p.text-center (ym_cosmetics)
	td
		pre.code(lang="html")
			include codes/008.txt
	td
		a.linkpovider(href="https://yandex.ru/support/partnermarket/guides/beauty.xml" target="_blank") https://yandex.ru/support/partnermarket/guides/beauty.xml