tr
	td
		strong #{num}
	td
		|Price.ru
	td
		|Выгрузка на портал Price.ru
		br
		//p.text-center (CSV)
	td
		pre.code(lang="html")
			include codes/042.txt
	td
		a.linkpovider(href="https://yandex.ru/support/partnermarket/offers.xml#vendor" target="_blank")
			|https://yandex.ru/support/partnermarket/offers.xml#vendor