tr
	td
		strong #{num}
	td
		|Вконтакте
	td
		|Товары и альбомы Вконтакте (vk)
		br
		//p.text-center (CSV)
	td
		pre.code(lang="html")
			include codes/043.txt
	td
		a.linkpovider(href="https://vk.com/dev/methods" target="_blank")
			|https://vk.com/dev/methods