tr
	td
		strong #{num}
	td
		|Price.ua
	td
		|Выгрузка на портал Price.ua
		br
		//p.text-center (ok)
	td
		pre.code(lang="html")
			include codes/051.txt
	td
		a.linkpovider(href="http://price.ua/business/stores/price_download.html" target="_blank")
			|http://price.ua/business/stores/price_download.html