tr
	td
		strong #{num}
	td
		|All.biz
	td
		|Экспорт товаров в систему All.biz
		br
		//p.text-center (vendor.model)
	td
		pre.code(lang="html")
			include codes/024.txt
	td
		a.linkpovider(href="http://help.all.biz/import-tovarov-kak-importirovat-tovary-iz-yml-fajla-ans186" target="_blank")
			|http://help.all.biz/import-tovarov-kak-importirovat-tovary-iz-yml-fajla-ans186