tr
	td
		strong #{num}
	td
		|LEngow
	td
		|Выгрузка на агрегатор LEngow
		br
		//p.text-center (CSV)
	td
		pre.code(lang="html")
			include codes/040.txt
	td
		a.linkpovider(href="http://www.lengow.com/guides/" target="_blank")
			|http://www.lengow.com/guides/