doctype html
html
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		link(rel="stylesheet" href="assets/css/main.css" type="text/css")
		title Документация по экспорту товаров на разные площадки
	body
		.container
			.row
				.container_wrapper
					h1.text-center Документация по экспорту товаров на разные площадки
					include table
		script(src="assets/js/main.js")
		