table.table
	include inc/thead
	tbody
		- var num = 1;
		include inc/tr_001
		- ++num;
		include inc/tr_002
		- ++num;
		include inc/tr_003
		- ++num;
		include inc/tr_004
		- ++num;
		include inc/tr_005
		- ++num;
		include inc/tr_006
		- ++num;
		include inc/tr_007
		- ++num;
		include inc/tr_008
		- ++num;
		include inc/tr_009
		- ++num;
		include inc/tr_010
		- ++num;
		include inc/tr_011
		- ++num;
		include inc/tr_012
		- ++num;
		include inc/tr_013
		- ++num;
		include inc/tr_014
		- ++num;
		include inc/tr_015
		- ++num;
		include inc/tr_016
		- ++num;
		include inc/tr_017
		- ++num;
		include inc/tr_018
		- ++num;
		include inc/tr_019
		- ++num;
		include inc/tr_020
		- ++num;
		include inc/tr_021
		- ++num;
		include inc/tr_022
		- ++num;
		include inc/tr_023
		- ++num;
		include inc/tr_024
		- ++num;
		include inc/tr_025
		- ++num;
		include inc/tr_026
		- ++num;
		include inc/tr_027
		- ++num;
		include inc/tr_028
		- ++num;
		include inc/tr_029
		- ++num;
		include inc/tr_030
		- ++num;
		include inc/tr_031
		- ++num;
		include inc/tr_032
		- ++num;
		include inc/tr_033
		- ++num;
		include inc/tr_034
		- ++num;
		include inc/tr_035
		- ++num;
		include inc/tr_036
		- ++num;
		include inc/tr_037
		- ++num;
		include inc/tr_038
		- ++num;
		include inc/tr_039
		- ++num;
		include inc/tr_040
		- ++num;
		include inc/tr_041
		- ++num;
		include inc/tr_042
		- ++num;
		include inc/tr_043
		- ++num;
		include inc/tr_044
		- ++num;
		include inc/tr_045
		- ++num;
		include inc/tr_046
		- ++num;
		include inc/tr_047
		- ++num;
		include inc/tr_048
		- ++num;
		include inc/tr_049
		- ++num;
		include inc/tr_050
		- ++num;
		include inc/tr_051
		- ++num;
		include inc/tr_052