table.table
	include inc/thead
	tbody
		include inc/tr_001
		include inc/tr_002
		include inc/tr_003
		include inc/tr_004
		include inc/tr_005
		include inc/tr_006
		include inc/tr_007
		include inc/tr_008
		include inc/tr_009
		include inc/tr_010
		include inc/tr_011
		include inc/tr_012
		include inc/tr_013
		include inc/tr_014
		include inc/tr_015
		include inc/tr_016
		include inc/tr_017
		include inc/tr_018
		include inc/tr_019
		include inc/tr_020
		include inc/tr_021
		include inc/tr_022
		include inc/tr_023